streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
chromadb
sentence-transformers
huggingface-hub
pypdf
pymupdf
groq
torch
torchvision
uvicorn
pdfplumber
rank_bm25
python-dotenv