pdfplumber
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-core
chromadb
sentence-transformers
huggingface-hub
pypdf
pymupdf
groq
rank-bm25
python-dotenv
opentelemetry-exporter-otlp-proto-grpc>=1.21.0
protobuf>=4.21.0,<5.0.0
torch
torchvision